#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1");
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8";
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8000}";
	sleep 1 && open "http://localhost:${port}/" &
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
function json() {
	if [ -t 0 ]; then # argument
		python -mjson.tool <<< "$*" | pygmentize -l javascript;
	else # pipe
		python -mjson.tool | pygmentize -l javascript;
	fi;
}

# `v` with no arguments opens the current directory in Neovim, otherwise opens the
# given location
function v() {
	if [ $# -eq 0 ]; then
		nvim .;
	else
		nvim "$@";
	fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# Copy website and its contents
function copy_website () {
	wget -e robots=off -p -k "$1"
}

# Extract most know archives with one command
extract () {
if [ -f $1 ]; then
	case $1 in
		*.tar.bz2)	tar xjf $1;;
		*.tar.gz)	tar xzf $1;;
		*.bz2)		bunzip2 $1;;
		*.rar)		unrar e $1;;
		*.gz)		gunzip $1;;
		*.tar)		tar xf $1;;
		*.tbz2)		tar xjf $1;;
		*.tgz)		tar xzf $1;;
		*.zip)		unzip $1;;
		*.Z)		uncompress $1;;
		*.7z)		7z x $1;;
		*)			echo "'$1' cannot be extracted via extract()" ;;
	esac
else
	echo "'$1' is not a valid file"
fi
}

install_nvim() {
	[[ ! -e ${HOME}/.config/nvim/init.vim && ! -L ${HOME}/.config/nvim/init.vim ]] && {
		ln -sf "$ATLAS_ROOT/.vimrc" "$HOME/.config/nvim/init.vim"
		echo "installed nvim config"
	}
}

install_vim() {
	[[ ! -e ${HOME}/.vimrc && ! -L ${HOME}/.vimrc ]] && {
		ln -sf "$ATLAS_ROOT/.vimrc" "$HOME"
		echo "installed vim config"
	}
}

install_tmux() {
	[[ ! -e ${HOME}/.tumx.conf && ! -L ${HOME}/.tmux.conf ]] && {
		ln -sf "$ATLAS_ROOT/.tmux.conf" "$HOME"
		echo "installed tmux config"
	}
}

# update this project with local system changes
atlas_update_from_local() {
	# update spectacle config
	[[ ! -f ${HOME}/Library/Application\ Support/Spectacle ]] && {
		rm "$ATLAS_ROOT/init/Shortcuts.json"
		cp "$HOME/Library/Application\ Support/Spectacle/Shortcuts.json" ./init
	}
}

