[color]
	ui = true
[user]
	email = tatlas@hubspot.com
	name = Trevor Atlas
[github]
	user = trevor-atlas
[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[branch]
	autosetuprebase = always
	autosetupmerge = true
[merge]
	summary = true
	verbosity = 1
	tool = vimdiff
  conflictstyle = diff3
[mergetool]
	keepBackup = false
	prompt = false
[apply]
	whitespace = nowarn
[push]
	# 'git push' will push the current branch to its tracking branch
	# the usual default is to push all branches
	default = tracking
[core]
	autocrlf = false
	ignorecase = true
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = delta
	hooksPath = /Users/tatlas/.git_hooks
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true
[diff]
  colorMoved = default
