[color]
	ui = true
[user]
	email = tatlas@hubspot.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/{{ if stat (joinPath .chezmoi.homeDir ".hubspot") }}id_rsa.pub{{ else }}id_ed25519.pub{{ end }}
	name = tatlas
[github]
	user = trevor-atlas
[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[branch]
	autosetuprebase = always
	autosetupmerge = true
[merge]
	summary = true
	verbosity = 1
	tool = vimdiff
  conflictstyle = diff3
[mergetool]
	keepBackup = false
	prompt = false
[apply]
	whitespace = nowarn
[push]
	# 'git push' will push the current branch to its tracking branch
	# the usual default is to push all branches
	default = tracking
	autoSetupRemote = true
[core]
	autocrlf = false
	ignorecase = true
	editor = nvim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	pager = delta
	hooksPath = {{ .chezmoi.homeDir }}/.git_hooks
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true
[diff]
  colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	append = town append
	hack = town hack
	sync = town sync
[rebase]
	autoStash = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
